body {
  background-color: #f4f5f6;
}

main {
  max-width: 1310px;
  height: 2000px;
  background-color: white;
}

nav header {
  text-align: center;
}

.subscribe {
  text-align: right;
}

.menu {
  margin: 10px 0;
}

.menu li {  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-left: 1px solid gray;
}

.menu li {
  display: flex;
}

.search-bar {
  background-color: aliceblue;
}