body {
  background-color: #f4f5f6;
}

.left, 
.center,
.right, 
.magazine-top, 
.magazine-bottom, 
.special, 
.news-special, 
.news,
.news-special-children,
.ideo-left,
.content-video,
.video-left,
.slideshows-children,
.categories-US,
.subscribeBottom,
.subscribe-child,
.newsletter,
.in-depth-content,
.mail-susbcribe {
  height: 300px;
  border: 1px solid red;
}

/* change some properties from bootstrap classes */

 /* nav bar styles */

 nav {
   background-color: #f72210;
 }

nav header {
  text-align: center;
}

.subscribe {
  text-align: right;
}

/* .menu {
  padding: 10px 0;  
} */

.menu li {  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-left: 1px solid rgb(217, 217, 217);
}

.menu li {
  display: flex;
}

.search-bar {
  background-color: aliceblue;
}

#Layer_2 {
  fill: white;
}

@media screen and (min-width: 992px) {
  #Layer_2 {
    width: 396px;
    height: 60px;
    margin: 10px auto 0;
  }
}

/* main styles */

main {
  max-width: 1310px;
  background-color: white;
}

.three-col {
  background-color: aquamarine;
}

.icon {
  background: url("https://g.newsweek.com/www/images/logo-n1.svg") center/contain no-repeat #f72210;
  width: 29px;
  height: 28px;
  display: block;
}

/* Same sules for various elements */

.slideShows,
.subscribeBottom {
  border-bottom: 1px solid rgb(217, 217, 217);
  padding-bottom: 20px;
}

/* End same sules for various elements */

.categories-mini {
  border: 1px solid red;
  height: 33.3%;
}

.subscribeBottom {

}

#Layer_1 {
  display: block;
  width: 236px;
  height: 36px;
  margin-right: 15px;
  margin-bottom: 12px;
  fill: #f72210;
}

footer {

}
